{% extends "templates/web.html" %}

{% block title %}{{ title }}{% endblock %}

{% block header %} <h1>{{ doc.name }}</h1> {% endblock %}

{% block page_content %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">


<div class="clearfix">
	<h4 style="float: left;">{{ _("Cell Station Information") }}</h4>
</div>
<table data-toggle="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr> <td>Code</td> <td>{{ doc.code }}</td> </tr>
        <tr> <td>Name</td> <td>{{ doc.station_name }}</td> </tr>
        <tr> <td>Address</td> <td>{{ doc.address_text }}</td> </tr>
        <tr> <td>Description</td> <td>{{ doc.descrition }}</td> </tr>
        <tr> <td>Station Type</td> <td>{{ doc.station_type }}</td> </tr>
        <tr> <td>Setup Type</td> <td>{{ doc.setup_type }}</td> </tr>
        <tr> <td>Power Level</td> <td>{{ doc.power_level }}</td> </tr>
        <tr> <td>Battery Setup Type</td> <td>{{ doc.setup_time }}</td> </tr>
        <tr> <td>Code</td> <td>{{ doc.battery_setup_type }}</td> </tr>
    </tbody>
</table>

<!--
	<div>
		<h1> Devices </h1>
		{% for dev in doc.devices %}
		<div>
			{{ dev.device_id }}
			{{ dev.device_type }}
			{{ dev.device_name }}
		</div>
		{% endfor %}
	</div>
	<div>
		<h1> Services </h1>
		{% for s in doc.cell_service_list %}
		<div>
			{{ s.service_type }}
		</div>
		{% endfor %}
	</div>
-->

{% for d in vsn %}

<div class="clearfix">
	<h4 style="float: left;">{{ _("Battery ") }}</h4>
</div>


<table id="{{ d }}">
</table>
{% endfor %}


<script>
	{% include "templates/pages/cell_station.js" %}
</script>
{% endblock %}


{% block script %}

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>


{% endblock %}
